name: GitHub-Profile-Summary-Cards

on:
  push:
    paths-ignore:
      - "profile-summary-cards/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write

    # Prevent infinite loop when the action commits
    if: github.actor != 'github-actions[bot]'

    steps:
      - uses: actions/checkout@v4

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}


          THEME: "default"