

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
  margin: 0;

  background: #10100e;
  color: #ffffe3;

}

.tech-stack {

  background-color: #10100e;
  height: 100vh; 
}


.tech-stack__container {
  max-width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.tech-stack__title {

  font-size: 70px;

  font-family: "Major Mono Display", monospace;
  margin-bottom: 2rem;
}
.tech-stack__title-text{
  font-family: "Major Mono Display", monospace;
  text-align:start;

}

.tech-category {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
   opacity: 0; /* Initial state for animation */
  transform-origin: center bottom;
}

.tech-category__label {
  width: 20%;
  font-weight: 700;
  font-size: 1.125rem;
  position: sticky;
  top: 1rem;
}

.tech-category__label-inner {
  position: relative;
  padding-left: 1.5rem;
  transition: color 0.3s;
  cursor: pointer;
      font-family: "Poppins", sans-serif;
  

}

.tech-category__label-inner:hover {
  color: #1DCD9F;
}

.tech-category__label-dot {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #ffffe3;
  border-radius: 50%;
}

.tech-category__items {
  grid-column: 1 / 4;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  perspective: 1200px;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: transparent; /* changed from black */
  color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.2s ease;
  opacity: 0; /* Initial state for animation */
  transform-style: preserve-3d;
  will-change: transform, opacity;
}


.tech-item:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.2);
  border-color: #1DCD9F;
}

.tech-item__icon {
  width: 28px;
  height: 28px;
}

.tech-item__name {
  font-size: 1.125rem;
    background-color: transparent;
}

.dock-label {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffe3;
  color: #111;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 999;
}
