name: GitHub-Profile-Summary-Cards

on:
  schedule:
    - cron: "0 0 * * *" # Runs every 24 hours (midnight UTC)
  workflow_dispatch:      # Allows you to click "Run workflow" manually

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-summary-cards
    permissions:
      contents: write

    steps:
          - uses: actions/checkout@v4
            with:
              ref: stats  # <--- THIS IS THE FIX. It switches to the stats branch.

          - uses: vn7n24fzkq/github-profile-summary-cards@release
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            with:
              USERNAME: ${{ github.repository_owner }}
              BRANCH_NAME: stats # Explicitly tells the tool to commit here